# .htaccess
datos
maqueta-casaflor
online
sitio_viejo
wp-admin
wp-includes
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/languages
wp-content/uploads/wpcf7_captcha
sitemap.xml
*.log
wp-content/cache/
wp-content/backups/
sitemap.xml.gz
wp-config.php
*.html
*.db
wireframes/
frameworks/
casaflor/css/source/*.js
casaflor/css/source/*.css
casaflor/css/source/helpers
casaflor/css/font
casaflor/css/lib/
casaflor/css/node_modules/
casaflor/css/test/
casaflor/css/icomoon/fonts
casaflor/css/icomoon/*.html
casaflor/css/icomoon/*.css
casaflor/css/icomoon/demo-files
casaflor/css/icomoon/*.zip
casaflor/css/icomoon/*.json
casaflor/css/icomoon/*.txt
casaflor/css/helpers/*.db
casaflor/css/helpers/*.css
casaflor/css/helpers/*.js
casaflor/css/helpers/*.
img/*.db
*.zip

wp-*.php
xml*.php